  <div class="row">
    <div class="twelve columns">

      <!-- Basic Needs -->
      <nav class="top-bar">
        <ul>
          <li class="name"><h1><a href="#">Coursica</a></h1></li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
          <ul class="left">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <ul class="right">
            <li><a href="#">Something</a></li>
          </ul>
        </section>
      </nav>

      <!-- Positioning the Top Bar -->
      <div class="fixed contain-to-grid">
        <!-- <nav> goes here -->
      </div>

      

      
        <div class="row">

          <div class="twelve mobile-four columns">

            <div class="top panel">

              <div class="twelve mobile-four columns">
                <input id="search" placeholder="Filter here..." type="text" />
              </div>

              <div class="two mobile-one columns">

              </div>

              <div class="ten mobile-three columns">
                <div id="loadGrid" class="hide"></div>
                <div id="myGrid" class="hide"></div>
                <div id="exampleGrid" style="height:340px; overflow: scroll"></div>                
              </div>

            </div>

          </div>

        </div>

      <!-- Footer -->

        <footer class="row">
        <div class="twelve columns"><hr />
            <div class="row">

              <div class="six columns">
                  <p>&copy; Copyright no one at all. Go to town.</p>
              </div>

              <div class="six columns">
                  <ul class="link-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>
