<!-- <div id="ribbon" class="show-for-small">
  <input id="back" value="Back" type="button" class="tiny secondary button" />
</div> -->

  <nav class="top-bar" style="">
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">Coursica</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>menu</span></a>
          </li>
        </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="active"><a href="#">Main Item 1</a></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#">Main Item 3</a>

          <ul class="dropdown">
            <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

              <ul class="dropdown">
                <li><label>Dropdown Level 2 Label</label></li>
                <li><a href="#">Dropdown Level 2a</a></li>
                <li><a href="#">Dropdown Level 2b</a></li>
                <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                  <ul class="dropdown">
                    <li><label>Dropdown Level 3 Label</label></li>
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown Level 2d</a></li>
                <li><a href="#">Dropdown Level 2e</a></li>
                <li><a href="#">Dropdown Level 2f</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>

  </nav>



<!-- End Title Bar -->

<!-- Content -->
<div class="row whiteboard">
  <div class="large-12 columns">
    <div class="row">

      <div id="shoppingCart" class="large-4 columns"> <!--hide-for-small-->
          <div id="searchInput" class="panel">
            <input id="search" placeholder="Filter here..." type="text" />
            <input id="enterbutton" value="Add" type="button" class="small button" />
          </div>

          <div id="searchOutput" class="panel"></div>

          <div id="loadGrid" class="hide" style="display: none;"></div>
          <div id="myGrid" style="display:none; height:340px; overflow: auto"></div>
        
      </div>

      <div class="large-8 columns">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
</div>

<!-- End Content -->

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>

    <div class="row hide-for-small">
      <div class="large-6 columns">
        <p>&copy; Copyright Coursica</p>
      </div>
      <div class="large-6 columns">
        <!--ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul-->
      </div>
    </div>

  </div>
</footer>

<!-- End Footer -->

<!-- Modals -->

<div id="aboutModal" class="reveal-modal">
     <h1>About</h1>
     <p>This is Coursica.</p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contactModal" class="reveal-modal">
     <h1>Contact</h1>
     <p>AL</p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<!-- End Modals -->

<!-- Joyride -->
<ol class="joyride-list" data-joyride>
  <li data-button="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Welcome!</h4>
    <p>Hello and welcome to Coursica.</p>
  </li>  
  <li data-id="searchInput" data-text="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Input</h4>
    <p>Enter classes here (e.g. EECS 394).</p>
  </li>
  <li data-id="searchOutput" data-text="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Output</h4>
    <p>Courses you add will appear here. You can turn them on/off to view on the calendar.</p>
  </li>  
  <li data-id="calendar" data-button="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Calendar</h4>
    <p>Courses will appear on this calendar depending on whether they are on/off in the Shopping Cart.</p>
  </li>


</ol>