<!-- <div id="ribbon" class="show-for-small">
  <input id="back" value="Back" type="button" class="tiny secondary button" />
</div> -->

<!-- Content -->
<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <div id="shoppingCart" class="large-4 columns small-12"> <!--hide-for-small-->
          <div id="searchInput" class="panel search">
            <div>
              <input id="search" placeholder="Enter courses here..." type="text" autocomplete="off" />
              <div class="searchResultContainer"></div>
            </div>
            <input id="enterbutton" value="Add" type="button" class="small button" />
          </div>

          <div id="searchOutput" class="panel search">
            <div id="addedCourses"></div>
          </div>        
      </div>

      <div class="large-8 columns">
          <div id="loadDiv" class="hide">
          </div>        
          <div id='calendar' class="hide-for-small">
          </div>
      </div>

      <div class="small-12 columns show-for-small">
        <input id="toCalendar" value="Go to Calendar" type="button" class="small button" style="width: 100%"/>
      </div>
    </div>
  </div>
</div>

<!-- End Content -->

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">

    <div class="row hide-for-small">
      <div class="large-6 columns">
        <p>&copy; Copyright courseseek</p>
      </div>
      <div class="large-6 columns">
        <!--ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul-->
      </div>
    </div>

  </div>
</footer>

<!-- End Footer -->

<!-- Modals -->

<div id="aboutModal" class="reveal-modal">
     <h1>About</h1>
     <p>We all know too well that figuring out your schedule at Northwestern can be a pain. CAESAR is slow and makes it difficult to visualize a schedule of courses in real time. This is why we made courseseek. courseseek lets you quickly add and remove classes and immediately see them on a calendar. Switching between lectures and labs or discussion sections helps you find a schedule that works for you. Once you've decided what you want, then you can log on to CAESAR and add them to your shopping cart and be ready to register.

     <br> <br><b>Note</b>: courseseek does not currently support biology classes, as they are formatted slightly different on CAESAR, due to the high number of sections offered. We're working on a solution.</p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<div id="teamModal" class="reveal-modal">
     <h1>Our Team</h1>
     <p>Details and Pictures coming soon!</p>
     <br />
     <h3>Vanessa Fang</h3>
     <!-- <p>I'm currently a Junior studying Computer Science in the McCormick School of Engineering.</p> -->
     <h3>Moritz Gellner</h3>
     <p>I am a junior at Northwestern majoring in Computer Science and Economics. I am primarily interested in Artificial Intelligence and Systems Design, and have experience with backend web development on a variety of platforms. Outside of class, I enjoy skiing in the winter and golfing in the summer. I am also an avid basketball fan! </p>
     <h3>Al Johri</h3>
     <!-- <p>I'm currently a sophomore Computer Science Major at Northwestern University. I enjoy developing applications for web, mobile, and even desktop. Apart from computers, I have an avid interest in music and am currently part of a college a cappella group, Brown Sugar</p> -->
     <h3>Corey McMahon</h3>
    <!--  <p>I'm a sophomore Computer Science Student. I've been doing web dev for two years now and my biggest interests outside of programming are baseball, music, and classic movies.</p> -->
     <h3>Carson Potter</h3>
     <!-- <p>I'm a junior at Northwestern majoring in Computer Science and minoring in economics. I'm very interested in developing web applications, and have experience programming and managing the development of web products. I like music, ultimate, and Jordy and Parsons.</p> -->
     <h3>Peng Xu</h3>
     <!-- <p>I'm a student at Northwestern University pursuing an M.S. degree in Computer Science.</p> -->
     <h3>Erlin Zylalaj</h3>
     <!-- <p>I'm a junior majoring in Computer Science at Northwestern University. I have a passion for finding neat and elegant solutions to complex problems through the implementation of algorithmic methods. I particularly enjoy sports and music. Soccer and chess are two of my favorite activities.</p> -->
     <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contactModal" class="reveal-modal">
     <h1>Contact</h1>
     <p>Please contact any of us using our Northwestern email addresses:</p>
     <p><b>Vanessa Fang:</b> vanessafang2014@u.northwestern.edu</p>
     <p><b>Moritz Gellner:</b> moritzgellner2014@u.northwestern.edu</p>
     <p><b>Al Johri:</b> atuljohri2015@u.northwestern.edu</p>
     <p><b>Corey McMahon:</b> coreymcmahon2015@u.northwestern.edu</p>
     <p><b>Carson Potter:</b> carsonpotter2014@u.northwestern.edu</p>
     <p><b>Peng Xu:</b> pengxu2012@u.northwestern.edu</p>
     <p><b>Erlin Zylalaj:</b> erlinzylalaj2014@u.northwestern.edu<p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<div id="feedbackModal" class="reveal-modal">
    <h1> Feedback </h1>
    <%= form_tag("/submit_feedback", :method => "get") do %>
      <h6> Select feedback type </h6>
      <%= select_tag(:fbtype, options_for_select([["Report Bug"],["Suggestion"]])) %>
      <h6> What would you like to tell us? </h6>
      <%= text_area_tag(:feedback) %>
      <%= submit_tag("Submit") %>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
</div>
<!-- End Modals -->

<!-- Joyride -->
<ol class="joyride-list" data-joyride>
  <li data-button="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Welcome!</h4>
    <p>Hello and welcome to courseseek.</p>
  </li>  
  <li data-id="searchInput" data-text="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Input</h4>
    <p>Enter classes here (e.g. EECS 394).</p>
  </li>
  <li data-id="searchOutput" data-text="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Output</h4>
    <p>Courses you add will appear here. You can turn them on/off to view on the calendar.</p>
  </li>  
  <li data-id="calendar" data-button="Next" data-options="cookieMonster:true; tipLocation:top;tipAnimation:fade">
    <h4>Calendar</h4>
    <p>Courses will appear on this calendar depending on whether they are on/off in the Shopping Cart.</p>
  </li>


</ol>