  <div class="row">
    <div class="twelve columns">

      <!-- Navigation -->

          <ul class="nav-bar">
          <li class="active"><a href="#">Nav Item 1</a></li>
          <li><a href="#">Nav Item 2</a></li>
          <li><a href="#">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Search Bar -->

        <div class="row">

          <div class="twelve columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="ten mobile-three columns">
                  <input type="text" />
                </div>

                <div class="two mobile-one columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->
      
      <!-- Header Content -->

        <div class="row">

          <div class="twelve columns">

            <div class="top panel">
            	<div id="slickGrid1"></div>
            </div>

           <div class="row">
          	
          	<div class="twelve columns">

          		<div class="bottom left panel two columns">
          		  <input type="text" value="">
          		  
                <hr />
          			
                <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
                </select>
					      
                <hr />
      					
                <input type="checkbox" name="option1" value="Milk">Milk<br>
      					<input type="checkbox" name="option2" value="Butter">Butter<br>
      					<input type="checkbox" name="option3" value="Cheese">Cheese<br>
					      
                <hr />
      					
                <input type="radio" name="group1" value="Milk"> Milk<br>
      					<input type="radio" name="group1" value="Butter" checked> Butter<br>
      					<input type="radio" name="group1" value="Cheese"> Cheese
      					
                <hr />
      					
                <input type="radio" name="group2" value="Water"> Water<br>
      					<input type="radio" name="group2" value="Beer"> Beer<br>
      					<input type="radio" name="group2" value="Wine" checked> Wine<br>
          		</div>

          		<div class="bottom right panel ten columns">
                <div id="slickGrid2"></div>
          		</div>

          	</div>

          </div>


          <div class="row">
              <div class="six mobile-two columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="six mobile-two columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->




      <!-- Thumbnails -->

        <div class="row">

          <div class="twelve show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="three mobile-two columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>

          <div class="three mobile-two columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>

          <div class="three mobile-two columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>

          <div class="three mobile-two columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>

        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="twelve columns"><hr />
            <div class="row">

              <div class="six columns">
                  <p>&copy; Copyright no one at all. Go to town.</p>
              </div>

              <div class="six columns">
                  <ul class="link-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>
