  <div class="row">
    <div class="twelve columns">

      <nav class="top-bar">
        <ul>
          <li class="name"><h1><a href="#">Coursica</a></h1></li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
          <ul class="left">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <ul class="right">
            <li><a href="#">Something</a></li>
          </ul>
        </section>
      </nav>

      <div class="fixed contain-to-grid">

      </div>

        <div class="row">
          <div class="twelve mobile-four columns">

            <div class="top panel">

              <div class="four mobile-two columns hide-for-small">
                <input id="search" placeholder="Filter here..." type="text" />
                <input id="enterbutton" value="Enter Class" type="button" />
                <input id="makecalbutton" value="Make Calendar" type="button" />                
                <div id="searchArea"></div>

                <div id="loadGrid" class="hide" style="display: none;"></div>
                <div id="myGrid" style="display:none; height:340px; overflow: auto"></div>                
              </div>

              <div class="eight mobile-six columns">
                <div id='calendar'></div>
            </div>            

            <!--div class="bottom panel">
          

            </div-->

          </div>
        </div>

      

        <footer class="row">
        <div class="twelve columns"><hr />

            <!--http://foundation.zurb.com/docs/components/orbit.html-->
             
            <div class="row">

              <div class="six columns">
                  <p>&copy; Copyright no one at all. Go to town.</p>
              </div>

              <div class="six columns">
                  <ul class="link-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      


    </div>
  </div>
