<div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                Top Bar Title
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
          </ul>

          <ul class="right">
            <li><a href="#">Something</a></li>

          </ul>
        </section>
      </nav>

    <!-- End Navigation -->
  
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-4 columns">
            <div>
              <input id="search" placeholder="Filter here..." type="text" style="float: left; width: 242px; margin-right: 5px; height:30.375px"/>
              <input id="enterbutton" value="Add" type="button" class="small button" style="float:left;"/>
            </div>

            <div id="searchArea"></div>
            <!--input id="makecalbutton" value="Make Calendar" type="button" class="tiny secondary button" style="float:right;"/-->            


            <div id="loadGrid" class="hide" style="display: none;"></div>
            <div id="myGrid" style="display:none; height:340px; overflow: auto"></div>                

          
        </div>

        <div class="large-8 columns">
          <div id='calendar'></div>
        </div>

    <!-- End Content -->

      </div>
    </div>
  </div>

    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
