<div id="ribbon" class="show-for-small">
  <input id="back" value="Back" type="button" class="tiny secondary button" />
</div>

<div id="container" class="">

<!-- Title Bar -->

<div class="row">
  <div class="large-12 columns">

    <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">Coursica</a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>menu</span></a>
        </li>
      </ul>

    </nav>

  </div>

</div>

<!-- End Title Bar -->

<!-- Content -->
<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <div id="shoppingCart" class="large-4 columns"> <!--hide-for-small-->
          <div id="searchInput" class="panel">
            <input id="search" placeholder="Filter here..." type="text" />
            <input id="enterbutton" value="Add" type="button" class="small button" />
          </div>

          <div id="searchOutput" class="panel"></div>

          <div id="loadGrid" class="hide" style="display: none;"></div>
          <div id="myGrid" style="display:none; height:340px; overflow: auto"></div>
        
      </div>

      <div class="large-8 columns">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
</div>

<!-- End Content -->

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>

    <div class="row hide-for-small">
      <div class="large-6 columns">
        <p>&copy; Copyright Coursica</p>
      </div>
      <div class="large-6 columns">
        <!--ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul-->
      </div>
    </div>

  </div>
</footer>

<!-- End Footer -->

<!-- Modals -->

<div id="aboutModal" class="reveal-modal">
     <h1>About</h1>
     <p>This is Coursica.</p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contactModal" class="reveal-modal">
     <h1>Contact</h1>
     <p>AL</p>
     <a class="close-reveal-modal">&#215;</a>
</div>

<!-- End Modals -->

</div>