  <div class="row">
    <div class="twelve columns">

      <nav class="top-bar">
        <ul>
          <li class="name"><h1><a href="#">Coursica</a></h1></li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
          <ul class="left">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <ul class="right">
            <li><a href="#">Something</a></li>
          </ul>
        </section>
      </nav>

      <div class="fixed contain-to-grid">

      </div>

        <div class="row">
          <div class="twelve mobile-four columns">

            <div class="top panel">

              <div class="four mobile-two columns hide-for-small">
                <input id="search" placeholder="Filter here..." type="text" />
                <input id="enterbutton" value="Enter Class" type="button" />
                <input id="makecalbutton" value="Make Calendar" type="button" />

                <div id="loadGrid" class="hide"></div>
                <div id="myGrid" style="height:340px; overflow: auto"></div>                
              </div>

              <div class="eight mobile-six columns">
                <div id='calendar'></div>
                <div id="event_edit_container">
                  <form>
                    <input type="hidden" />
                    <ul>
                      <li>
                        <span>Date: </span><span class="date_holder"></span> 
                      </li>
                      <li>
                        <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
                      </li>
                      <li>
                        <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
                      </li>
                      <li>
                        <label for="title">Title: </label><input type="text" name="title" />
                      </li>
                      <li>
                        <label for="body">Body: </label><textarea name="body"></textarea>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </div>            

            <!--div class="bottom panel">
          

            </div-->

          </div>
        </div>

      

        <footer class="row">
        <div class="twelve columns"><hr />
            <div class="row">

              <div class="six columns">
                  <p>&copy; Copyright no one at all. Go to town.</p>
              </div>

              <div class="six columns">
                  <ul class="link-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      


    </div>
  </div>
