// Place all the styles related to the caesar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "foundation/foundation-global", "foundation/components/global";
//"foundation/components/panels"

.logo {
	height: 30px;
	padding-top: 10px;
}

.top, .bottom {
	height: 420px;
}

#myGrid {
	height: 340px;
}

#loadDiv {
	background-image:url('http://i.imgur.com/9354Whe.gif');
	background-repeat:no-repeat;
	background-position:center; 	
}

.hide {
	// display:none;
	visibility: hidden;
}

#event_edit_container {
  display: none;
}

.addednotif {
	//@include panel;
	margin: 10px 10px;
	height: 28px;
	width: 100%;
}

#searchInput {
	height: 75px;
	position: relative;
}

#searchOutput {
	width: 100%;
	height: 375px;
	overflow: auto;
	float: left;
	padding-top: 10px;
}

#search {}

#addedCourses {
	width: 90%;
	margin: 10px 10px;
	}


 
.addedCourseButton {	
	width: 100%;
	float: left;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	line-height: 27px; 
	margin-top: 10px;
	text-transform:uppercase;
	border-bottom: 1px ridge rgba(82,0,99,.5)
	}
	
.addedCourseSec {	
	width: 100%;
	float: left;
	margin: 5px 0px 0px 0px;
	padding-left: 10px;
	font-size: 10px;
	line-height: 10px;
	}

.addedCourseSec form {
	margin: 1px;
}

.addedCourseSec .dropTitle {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;

}

.addedCourseSec .dropInst {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;

}

.courseSection {
	width: 100%;
	height: 20px;
	float: left;
	background-color: #f5f5f5;
	border-bottom: 1px solid #fff;
}


#enterbutton {
	/*float: right;
	width: 22%;*/
	display: none;
}

#ribbon {
	height: 30px;
	background-color: #443266;
	width: 100%;
	margin-bottom: 10px;
}

#container {
	background: white;
}

.wc-scrollable-grid {
	height: 420px;
}

#back {
	height: 100%;
}

#container {
	-webkit-transition: 0.3s margin ease-in-out; 
	-moz-transition: 0.3s margin ease-in-out; 
	-o-transition: 0.3s margin ease-in-out; 
	transition: 0.3s margin ease-in-out; 
}

#searchOutput .addednotif .classTitle {
	float: left;
	height: 27px;
	line-height: 27px; 
	margin-right: 20px;
	text-transform:uppercase;
	text-align: center;
}

#searchOutput .addedCourseButton .iphoneCheck {
	 float: right; 
	 height: 27px;
}

#searchOutput .addednotif .removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;

}

.panel{border-color: #dddddd}

.removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}
/*
// .whiteboard {
	background-image: url('http://www.teacherfiles.com/clipart/xbackgrounds/lined_paper_light.jpg');
	background-repeat: no-repeat;
	background-size: 1000px 500px;

	 border-style: solid;
	 border-width: 5px;
	 border-color: #520063;
	 padding-top: 19px;
	 z-index: 2;
 }

 #container {
 	background-image: url('http://www.teacherfiles.com/clipart/xbackgrounds/lined_paper_light.jpg');
 	background-repeat: repeat-both;
 	background-size: 100% auto;
 }*/

footer {
	z-index: -1;
}

.searchResultContainer {
	height: auto;
	max-height: 300px;
	overflow: auto;
	position: absolute;
	top: 54px;
	background-color: white;
	float: left;
	z-index: 10;
	/*display: none;*/
}

.row{ max-width: 70em;}

.searchResultContainer .searchResult {
	border-style: ridge;
	height: 42px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	/*text-overflow:ellipsis;*/
	
}

.searchResultContainer .searchResult:hover{
	background-color: rgba(82, 0, 99, .25);
}

.searchResultContainer .searchResult #classSubNum {
	font-size: 14px;
	font-weight: bold;
	top: 1px;
	position: absolute;
}

.searchResultContainer .searchResult #classTitle {
	font-size: 12px;
	position: absolute;
	bottom: 1px;
	text-overflow:ellipsis;
}

/*
	 div.combobox	{font-family: Tahoma;font-size: 12px}
	 div.combobox	{position: relative;zoom: 1}
	 div.combobox	div.dropdownlist	{display: none;width: 200px;
	border: solid 1px #000;background-color: #fff;
	height: 200px;overflow: auto;position: absolute;
	top: 18px;left: 0px;}
	div.combobox	.dropdownlist	a	{display: block;text-decoration: none;
 	color: #000;padding: 1px;height: 1em}
	div.combobox	.dropdownlist	a.light	{color: #fff;
	background-color: #007}
	div.combobox	.dropdownlist, input {font-family: Tahoma;font-size: 12px;}
	div.combobox	input {float: left;width: 182px;
	border: solid 1px #ccc;height: 15px}
	div.combobox	span	{border: solid 1px #ccc;background: #eee;
	width: 16px;height: 17px;
	float: left;text-align: center;border-left: none}



grey: #e0e0e0
dark purple: rgb(39, 0, 48);
#333
light purple rgb(143, 42, 165); */
