// Place all the styles related to the caesar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/foundation-global", "foundation/components/global", "foundation/components/panels";

.top, .bottom {
	height: 420px;
}

#myGrid, #loadGrid {
	height: 340px;
}

#loadGrid {
	background-image:url('http://i.imgur.com/9354Whe.gif');
	background-repeat:no-repeat;
	background-position:center; 	
}

.hide {
	//display:none;
	visibility:hidden;
}

#event_edit_container {
  display: none;
}

.addednotif {
	//@include panel;
	margin: 10px 10px;
	height: 28px;
}

#searchArea {
	width: 320px;
	height: 400px;
	overflow: auto;
	float: left;
}

// .wc-nav {
// 	display: none;
// }

