// Place all the styles related to the caesar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "foundation/foundation-global", "foundation/components/global";
//"foundation/components/panels"

body {
  background-image: url(ricepaper2color.png);
}

#splashScreen {
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper {
	width: 100%;
	height: 100%;
	background-image:url('splashTexture.png');
	// background-repeat:no-repeat;
	// background-position:center; 
}


#splashexplain {
	width: 100%;
	position: relative;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 8px;
	color: rgb(94, 99, 120);
}
#splashexplain2 {
	width: 60%;
	position: relative;
	left: 22%;
}


#calltoaction {
	text-align: center;
	font-size: 24px;
	margin: 0 auto;
	margin-top: 15px;
}

#calltoactionButton {
	border-radius: 3px;
}

.logo {
	height: 30px;
	padding-top: 10px;
}

#loadDiv {
	background-image:url('http://i.imgur.com/9354Whe.gif');
	background-repeat:no-repeat;
	background-position:center; 	
}

.hide {
	visibility: hidden;
}

#event_edit_container {
  display: none;
}

.addednotif {
	//@include panel;
	margin: 10px 10px;
	height: 28px;
	width: 100%;
}

#searchInput {
	height: 75px;
	position: relative;
}

.search {  
	background: #ffffff; /* Old browsers */
  -webkit-border-radius: 4px;
          border-radius: 4px;
 }

#searchOutput {
	width: 100%;
	overflow: auto;
	float: left;
	padding-top: 10px;
	margin-bottom: 12px;
}

#search {}

#addedCourses {
	width: 90%;
	margin: 10px 10px;
}

.addedCourseButton {	
	width: 100%;
	float: left;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	line-height: 27px; 
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	text-transform:uppercase;
	}
	
.addedCourseSec {	
	width: 100%;
	float: left;
	margin: 5px 0px 0px 0px;
	padding-left: 13%;
	font-size: 10px;
	line-height: 10px;

	}

.addedCourseSec form {
	margin: 1px;
}

.addedCourseSec .dropTitle {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;

}

.addedCourseSec .dropInst {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;
}

.courseSection {
	width: 100%;
	height: 20px;
	float: left;
	background-color: #f5f5f5;
	border-bottom: 1px solid #fff;
}


#enterbutton {
	display: none;
}

#ribbon {
	height: 30px;
	background-color: #443266;
	width: 100%;
	margin-bottom: 10px;
}

#back {
	height: 100%;
}

#container {
	display: none;
	-webkit-transition: 0.3s margin ease-in-out; 
	-moz-transition: 0.3s margin ease-in-out; 
	-o-transition: 0.3s margin ease-in-out; 
	transition: 0.3s margin ease-in-out; 
}

#searchOutput .addednotif .classTitle {
	float: left;
	height: 27px;
	line-height: 27px; 
	margin-right: 20px;
	text-transform:uppercase;
	text-align: center;
}

#searchOutput .addedCourseButton .iphoneCheck {
	 float: right; 
	 height: 27px;
}

#searchOutput .addednotif .removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;

}

.carsonWrapper {
	overflow: auto;
	overflow-x: hidden;
	border-radius: 4px;
}

.panel{
	border-color: #dddddd;
}

.removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.classArrow {
	float: right;
	width: 10%;
	height: 100%;
	margin-right: 10px;
	background-image: url(downarrow.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

footer {
	z-index: -1;
}

.searchResultContainer {
	height: auto;
	max-height: 300px;
	overflow: auto;
	position: absolute;
	top: 54px;
	background-color: #fff;
	float: left;
	z-index: 10;
	/*display: none;*/
}

.row { 
	max-width: none !important;
}

.searchResultContainer .searchResult {
	border-radius: 3px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #f1f0ff;
	height: 42px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.searchResultContainer .searchResult:hover {
	background-color: rgba(203, 255, 198, .7);
}

.searchResultContainer .searchResult #classSubNum {
	font-size: 14px;
	font-weight: bold;
	top: 1px;
	position: absolute;
	padding: 4px;
}

.searchResultContainer .searchResult #classTitle {
	font-size: 12px;
	position: absolute;
	bottom: 1px;
	text-overflow: ellipsis;
	padding: 4px
}

table tr th, table tr td {
	font-size: 1em;
}

.orbit-slide-number, .orbit-timer {
	display: none;
}

#toCalendar {
	height: 30px;
}

#calendar {
	margin-bottom: 12px;
}


#splashtitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	letter-spacing: -1px;
	text-align: center;
	line-height: 55px;
	font-size: 80px;
	color: rgba(94, 99, 120, 0.80);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
	padding-top: 6%;

}

#splashdivider {
	position: relative;
	height: 2px;
	margin-top: 18px;
	width: 30%;
	left: 35%;
	right: 35%;
	background-color: rgba(94, 99, 120, 0.80);
}






