// Place all the styles related to the caesar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top, .bottom {
	height: 420px;
}

#myGrid, #loadGrid {
	height: 340px;
}

#loadGrid {
	background-image:url('http://i.imgur.com/9354Whe.gif');
	background-repeat:no-repeat;
	background-position:center; 	
}

.hide {
	//display:none;
	visibility:hidden;
}

#event_edit_container {
  display: none;
}

.wc-nav, .wc-header {
	display: none;
}