// Place all the styles related to the caesar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "foundation/foundation-global", "foundation/components/global";
//"foundation/components/panels"

body {
  // background: #becfb4; /* Old browsers */
  // background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlY2ZiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWNmYjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxNjVweCIgc3RvcC1jb2xvcj0iI2JlY2ZiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* IE9 */
  // background-image: -webkit-linear-gradient(bottom, #becfb4 165px, #ffffff 50%, #becfb4 100%); /* Chrome10+,Safari5.1+ */
  // background-image:    -moz-linear-gradient(bottom, #becfb4 165px, #ffffff 50%, #becfb4 100%); /* FF3.6+ */
  // background-image:     -ms-linear-gradient(bottom, #becfb4 165px, #ffffff 50%, #becfb4 100%); /* IE10+ */
  // background-image:      -o-linear-gradient(bottom, #becfb4 165px,#ffffff 50%,#becfb4 100%); /* Opera 11.10+ */
  // background-image:        -webkit-gradient(linear, left bottom, left top, from(#becfb4), color-stop(.5,#ffffff), to(#becfb4)); /* Chrome,Safari4+ */
  // background-image:         linear-gradient(bottom, #becfb4 165px,#ffffff 50%,#becfb4 100%); /* W3C */
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // font-size: 14px;
  // line-height: 20px;
  // position: relative;
  background-image: url(ricepaper2color.png);
}

#splashScreen {
	display: none;
	height: 800px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;	
}

#splashScreen #splash {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-image:url('splashTexture.png');
	background-repeat:no-repeat;
	background-position:center; 
}

#splashScreen #splash #splashLogo {
	position: absolute;
	top: 0%;
	width: 35%;
	height: 22%;
	left: 32.5%;
}

#splashScreen #splash #splashContainer{

    width: 50%;
    height: 60%;
    left: 25%;
    position: absolute;
    top: 25%;

}

#splashScreen #splash #splashContainer #splashPointIntro{
	font-size: 20px;
	color: #F2F2F2;
	line-height: 30px;
}

#splashScreen #splash #splashContainer #splashPointOne {
	position: relative;
	height: 20%;

}

#splashScreen #splash #splashContainer #splashPointOne #splashPic1 {
    width: 40%;
    float: right;
    position: relative;
    height: 90%;
    top: 5%;
    border-radius: 3px;
}

#splashScreen #splash #splashContainer #splashPointTwo{
	position: relative;
	height: 32%;
	border-top: 1px dashed whitesmoke;
}

#splashScreen #splash #splashContainer #splashPointTwo #splashPic2 {
    width: 35%;
    float: right;
    position: relative;
    //height: 90%;
    top: 5%;
    border-radius: 3px;
}

#splashScreen #splash #splashContainer #splashPointThree{
	position: relative;
	top: 2%;
	height: 30%;
	border-top: 1px dashed whitesmoke;
}

#splashScreen #splash #splashContainer #splashPointThree #splashPic3{
    width: 38%;
    float: right;
    position: relative;
    top: 5%;
    border-radius: 3px;

}

#splashScreen #splash #splashContainer #splashPointOne #splashOne{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 3%;
	top: 30%;
}
#splashScreen #splash #splashContainer #splashPointTwo #splashTwo{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 3%;
	top: 30%;
}

#splashScreen #splash #splashContainer #splashPointThree #splashThree{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 3%;
	top: 30%;
}

.splashText{
	color: #F2F2F2;
	font-size: 24px;
 	display: inline-block;
 	vertical-align: middle;
 	line-height: normal;
 	position: relative;
 	left: 12%;
 	top: 38%;

}

#calltoaction{
	position: absolute;
	bottom: 5%;
	left: 44%;
	margin: 0 auto;
}
#calltoaction #calltoactionButton {
	border-radius: 3px;
}

.logo {
	height: 30px;
	padding-top: 10px;
}

#loadDiv {
	background-image:url('http://i.imgur.com/9354Whe.gif');
	background-repeat:no-repeat;
	background-position:center; 	
}

.hide {
	// display:none;
	visibility: hidden;
}

#event_edit_container {
  display: none;
}

.addednotif {
	//@include panel;
	margin: 10px 10px;
	height: 28px;
	width: 100%;
}

#searchInput {
	height: 75px;
	position: relative;
}

.search {  
	background: #ffffff; /* Old browsers */
  // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* IE9 */
  // background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  // background:    -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  // background:     -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  // background:      -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  // background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  // background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  -webkit-border-radius: 4px;
          border-radius: 4px;
 }

#searchOutput {
	width: 100%;
	// height: 375px;
	overflow: auto;
	float: left;
	padding-top: 10px;
	margin-bottom: 12px;
}

#search {}

#addedCourses {
	width: 90%;
	margin: 10px 10px;
}

.addedCourseButton {	
	width: 100%;
	float: left;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	line-height: 27px; 
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	text-transform:uppercase;
	}
	
.addedCourseSec {	
	width: 100%;
	float: left;
	margin: 5px 0px 0px 0px;
	padding-left: 10px;
	font-size: 10px;
	line-height: 10px;
	}

.addedCourseSec form {
	margin: 1px;
}

.addedCourseSec .dropTitle {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;

}

.addedCourseSec .dropInst {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;
}

.courseSection {
	width: 100%;
	height: 20px;
	float: left;
	background-color: #f5f5f5;
	border-bottom: 1px solid #fff;
}


#enterbutton {
	// float: right;
	// width: 22%;
	display: none;
}

#ribbon {
	height: 30px;
	background-color: #443266;
	width: 100%;
	margin-bottom: 10px;
}

// .wc-scrollable-grid {
// 	height: 420px;
// }

#back {
	height: 100%;
}

#container {
	//visibility: hidden;
	display: none;
	-webkit-transition: 0.3s margin ease-in-out; 
	-moz-transition: 0.3s margin ease-in-out; 
	-o-transition: 0.3s margin ease-in-out; 
	transition: 0.3s margin ease-in-out; 
}

#searchOutput .addednotif .classTitle {
	float: left;
	height: 27px;
	line-height: 27px; 
	margin-right: 20px;
	text-transform:uppercase;
	text-align: center;
}

#searchOutput .addedCourseButton .iphoneCheck {
	 float: right; 
	 height: 27px;
}

#searchOutput .addednotif .removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;

}

.carsonWrapper {
	overflow: auto;
	overflow-x: hidden;
	border-radius: 4px;
}

.panel{
	border-color: #dddddd;
}

.removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.classArrow {
	float: right;
	width: 10%;
	height: 100%;
	margin-right: 10px;
	background-image: url(downarrow.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

footer {
	z-index: -1;
}

.searchResultContainer {
	height: auto;
	max-height: 300px;
	overflow: auto;
	position: absolute;
	top: 54px;
	background-color: #fff;
	float: left;
	z-index: 10;
	/*display: none;*/
}

.row { 
	// width: 100% !important; 
	max-width: none !important;
	// max-width: 70em;
}

.searchResultContainer .searchResult {
	border-radius: 3px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #f1f0ff;
	height: 42px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;

/*
	background-image:linear-gradient(top, rgba(82, 00, 99, .11) 0%, rgba(30, 30, 30, .7) 95%);
    background-image:-webkit-linear-gradient(top, rgba(82, 00, 99, .11) 0%, rgba(30, 30, 30, .7) 95%);
    background-image:-moz-linear-gradient(top, rgba(82, 00, 99, .11) 0%, rgba(30, 30, 30, .7) 95%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(82, 00, 99, .11)),
        color-stop(0.95, rgba(30, 30, 30, .7))
    );
	/*text-overflow:ellipsis;*/
	
}

.searchResultContainer .searchResult:hover {
	background-color: rgba(203, 255, 198, .7);
}

.searchResultContainer .searchResult #classSubNum {
	font-size: 14px;
	font-weight: bold;
	top: 1px;
	position: absolute;
	padding: 4px;
}

.searchResultContainer .searchResult #classTitle {
	font-size: 12px;
	position: absolute;
	bottom: 1px;
	text-overflow: ellipsis;
	padding: 4px
}

table tr th, table tr td {
	font-size: 1em;
}

.orbit-slide-number, .orbit-timer {
	display: none;
}

#toCalendar {
	height: 30px;
}

#calendar {
	margin-bottom: 12px;
}
/*
	 div.combobox	{font-family: Tahoma;font-size: 12px}
	 div.combobox	{position: relative;zoom: 1}
	 div.combobox	div.dropdownlist	{display: none;width: 200px;
	border: solid 1px #000;background-color: #fff;
	height: 200px;overflow: auto;position: absolute;
	top: 18px;left: 0px;}
	div.combobox	.dropdownlist	a	{display: block;text-decoration: none;
 	color: #000;padding: 1px;height: 1em}
	div.combobox	.dropdownlist	a.light	{color: #fff;
	background-color: #007}
	div.combobox	.dropdownlist, input {font-family: Tahoma;font-size: 12px;}
	div.combobox	input {float: left;width: 182px;
	border: solid 1px #ccc;height: 15px}
	div.combobox	span	{border: solid 1px #ccc;background: #eee;
	width: 16px;height: 17px;
	float: left;text-align: center;border-left: none}



grey: #e0e0e0
dark purple: rgb(39, 0, 48);
#333
light purple rgb(143, 42, 165); */
