// Place all the styles related to the caesar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "foundation/foundation-global", "foundation/components/global";
//"foundation/components/panels"

#container {
  background: #becfb4; /* Old browsers */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlY2ZiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWNmYjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxNjVweCIgc3RvcC1jb2xvcj0iI2JlY2ZiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* IE9 */
  background-image: -webkit-linear-gradient(bottom, #becfb4 165px, #ffffff 50%, #becfb4 100%); /* Chrome10+,Safari5.1+ */
  background-image:    -moz-linear-gradient(bottom, #becfb4 165px, #ffffff 50%, #becfb4 100%); /* FF3.6+ */
  background-image:     -ms-linear-gradient(bottom, #becfb4 165px, #ffffff 50%, #becfb4 100%); /* IE10+ */
  background-image:      -o-linear-gradient(bottom, #becfb4 165px,#ffffff 50%,#becfb4 100%); /* Opera 11.10+ */
  background-image:        -webkit-gradient(linear, left bottom, left top, from(#becfb4), color-stop(.5,#ffffff), to(#becfb4)); /* Chrome,Safari4+ */
  background-image:         linear-gradient(bottom, #becfb4 165px,#ffffff 50%,#becfb4 100%); /* W3C */
  background-attachment: fixed;
  background-repeat: no-repeat;
  // font-size: 14px;
  // line-height: 20px;
  // position: relative;
}

.logo {
	height: 30px;
	padding-top: 10px;
}

.top, .bottom {
	height: 420px;
}

#myGrid {
	height: 340px;
}

#loadDiv {
	background-image:url('http://i.imgur.com/9354Whe.gif');
	background-repeat:no-repeat;
	background-position:center; 	
}

.hide {
	// display:none;
	visibility: hidden;
}

#event_edit_container {
  display: none;
}

.addednotif {
	//@include panel;
	margin: 10px 10px;
	height: 28px;
	width: 100%;
}

#searchInput {
	height: 75px;
	position: relative;
}

#searchOutput {
	width: 100%;
	height: 375px;
	overflow: auto;
	float: left;
	padding-top: 10px;
}

#search {}

#addedCourses {
	width: 90%;
	margin: 10px 10px;
	}


 
.addedCourseButton {	
	width: 100%;
	float: left;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	line-height: 27px; 
	margin-top: 10px;
	text-transform:uppercase;
	border-bottom: 1px ridge rgba(82,0,99,.5)
	}
	
.addedCourseSec {	
	width: 100%;
	float: left;
	margin: 5px 0px 0px 0px;
	padding-left: 10px;
	font-size: 10px;
	line-height: 10px;
	}

.addedCourseSec form {
	margin: 1px;
}

.addedCourseSec .dropTitle {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;

}

.addedCourseSec .dropInst {
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;

}

.courseSection {
	width: 100%;
	height: 20px;
	float: left;
	background-color: #f5f5f5;
	border-bottom: 1px solid #fff;
}


#enterbutton {
	/*float: right;
	width: 22%;*/
	display: none;
}

#ribbon {
	height: 30px;
	background-color: #443266;
	width: 100%;
	margin-bottom: 10px;
}

.wc-scrollable-grid {
	height: 420px;
}

#back {
	height: 100%;
}

#container {
	-webkit-transition: 0.3s margin ease-in-out; 
	-moz-transition: 0.3s margin ease-in-out; 
	-o-transition: 0.3s margin ease-in-out; 
	transition: 0.3s margin ease-in-out; 
}

#searchOutput .addednotif .classTitle {
	float: left;
	height: 27px;
	line-height: 27px; 
	margin-right: 20px;
	text-transform:uppercase;
	text-align: center;
}

#searchOutput .addedCourseButton .iphoneCheck {
	 float: right; 
	 height: 27px;
}

#searchOutput .addednotif .removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;

}

.panel{
	border-color: #dddddd;
	box-shadow: 0px 0px 5px #AAA;
	-webkit-box-shadow: 0px 0px 5px #AAA;
}

.removeClass {
	float: left;
	width: 10%;
	height: 100%;
	margin-right: 5px;
	background-image: url(removeClass.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}
/*
// .whiteboard {
	background-image: url('http://www.teacherfiles.com/clipart/xbackgrounds/lined_paper_light.jpg');
	background-repeat: no-repeat;
	background-size: 1000px 500px;

	 border-style: solid;
	 border-width: 5px;
	 border-color: #520063;
	 padding-top: 19px;
	 z-index: 2;
 }

 #container {
 	background-image: url('http://www.teacherfiles.com/clipart/xbackgrounds/lined_paper_light.jpg');
 	background-repeat: repeat-both;
 	background-size: 100% auto;
 }*/

footer {
	z-index: -1;
}

.searchResultContainer {
	height: auto;
	max-height: 300px;
	overflow: auto;
	position: absolute;
	top: 54px;
	/*background-color: #f1f0ff;*/
	box-shadow: 2px 2px 4px 3px #bbbbbb;
	float: left;
	z-index: 10;
	/*display: none;*/
}

.row{ max-width: 70em;}

.searchResultContainer .searchResult {
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	height: 42px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;

/*
	background-image:linear-gradient(top, rgba(82, 00, 99, .11) 0%, rgba(30, 30, 30, .7) 95%);
    background-image:-webkit-linear-gradient(top, rgba(82, 00, 99, .11) 0%, rgba(30, 30, 30, .7) 95%);
    background-image:-moz-linear-gradient(top, rgba(82, 00, 99, .11) 0%, rgba(30, 30, 30, .7) 95%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(82, 00, 99, .11)),
        color-stop(0.95, rgba(30, 30, 30, .7))
    );
	/*text-overflow:ellipsis;*/
	
}

.searchResultContainer .searchResult:hover{
	background-color: rgba(82, 0, 99, .25);
}

.searchResultContainer .searchResult #classSubNum {
	font-size: 14px;
	font-weight: bold;
	top: 1px;
	position: absolute;
}

.searchResultContainer .searchResult #classTitle {
	font-size: 12px;
	position: absolute;
	bottom: 1px;
	text-overflow:ellipsis;
}

/*
	 div.combobox	{font-family: Tahoma;font-size: 12px}
	 div.combobox	{position: relative;zoom: 1}
	 div.combobox	div.dropdownlist	{display: none;width: 200px;
	border: solid 1px #000;background-color: #fff;
	height: 200px;overflow: auto;position: absolute;
	top: 18px;left: 0px;}
	div.combobox	.dropdownlist	a	{display: block;text-decoration: none;
 	color: #000;padding: 1px;height: 1em}
	div.combobox	.dropdownlist	a.light	{color: #fff;
	background-color: #007}
	div.combobox	.dropdownlist, input {font-family: Tahoma;font-size: 12px;}
	div.combobox	input {float: left;width: 182px;
	border: solid 1px #ccc;height: 15px}
	div.combobox	span	{border: solid 1px #ccc;background: #eee;
	width: 16px;height: 17px;
	float: left;text-align: center;border-left: none}



grey: #e0e0e0
dark purple: rgb(39, 0, 48);
#333
light purple rgb(143, 42, 165); */
